<div class="board">

    <div class="dealer"></div>

    <div class="top-row">
        <div class="col column-1"></div>
        <div class="col column-2"></div>
        <div class="col column-3"></div>
        <div class="col column-4"></div>
    </div>

    <div class="bottom-row">
        <div class="bot bot-1">
                <div class="card" *ngFor="let obj of BottomRow1.source.reverse(); let i = index">
                        <app-card [card]="obj" [pileNumber]="1"></app-card>
                </div>
        </div>
        <div class="bot bot-2">
            <div class="card" *ngFor="let obj of BottomRow2.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="2"></app-card>
            </div>
        </div>
        <div class="bot bot-3">
            <div class="card" *ngFor="let obj of BottomRow3.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="3"></app-card>
            </div>
        </div>
        <div class="bot bot-4">
            <div class="card" *ngFor="let obj of BottomRow4.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="4"></app-card>
            </div>
        </div>
        <div class="bot bot-5">
            <div class="card" *ngFor="let obj of BottomRow5.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="5"></app-card>
            </div>
        </div>
        <div class="bot bot-6">
            <div class="card" *ngFor="let obj of BottomRow6.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="6"></app-card>
            </div>
        </div>
        <div class="bot bot-7">                
            <div class="card" *ngFor="let obj of BottomRow7.source.reverse(); let i = index">
                <app-card [card]="obj" [pileNumber]="7"></app-card>
            </div>
        </div>
    </div>
</div>