.container {
    // margin: auto;
    max-width: 1560px;
    max-height: 1560px;
    margin: auto;
    // overflow: scroll;
}

#chess-board {
    border: 1px solid black;
    margin-left: calc(50% - 400px);
    //width: 800px;
    //height: 800px;
    margin-top: 50px;
    border-radius: 10px;
    // overflow: scroll;
}