<div id="instruct-menu">

    <p>
        The game will start out paused. <br /> 
        To start the game press <b>p</b>
    </p>

    <p>To start game press <b>p</b></p>
    <p>To pause game press <b>p</b></p>
    <p>To propel ship press Up arrow key <span>&#8593;</span></p>
    <p>Turn left <span>&#x2190;</span></p>
    <p>Turn right <span>&#x2192;</span></p>
    <p>Shoot shells press spacebar</p>
</div>
<div id="main">
    <div>{{ writeGameActiveText }}</div>
    <canvas id="aster"></canvas>
</div>
