
.edit-form-container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
}

button {
    margin-right: 2px;
}