
// Tic tac toe _variables... 

$black: #000000;
$board-border: 1px solid $black;
$board-height-width: 600px + 9;

$square-width-height: (600px / 3);

$tic-tac-toe-font-size: 90px;


$square-hovered-on: #98807b;

